button {
  color: orange;
  background-color: pink;
}

div {
  margin: 20px;
  background-color: salmon;
}

b {
  color: gray;
}

h2 {
  color: orange;
}

p {
  color: red;
}

.mobil {
  color: blue;
}

#avanza {
  color: greenyellow;
}
