body {
  /* contoh penerapan pewarnaan gradasi */
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

div {
  width: 1000px;
  height: 500px;
  background: url("../_105870457_harimau01.jpg");
  background-position: left top;
  background-size: 1280px 720px;
}

/* bisa diletkkan 2 atau lebih jika property dan value CSS yang dibutuhkan sama */
/* best practice nya adalah menyamakan class/id name nya saja */
h1,
h2,
.id,
#class {
  color: rgb(0, 0, 25);
}

p {
  color: hsl(360, 100%, 75%);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: line-through;
  text-shadow: -4px 4px 4px red;
  line-height: 50%;
  letter-spacing: 2px;
  word-spacing: 4px;
  text-align: center;
  text-indent: 2rem;
}

.id {
  color: rgba(220, 155, 16, 0.6);
}

.konten {
  background-color: pink;
  width: 900px;
  height: 100px;
}
